# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment Variables
.env
*.env.docker

# VS Code
.vscode/

# Python cache
.pytest_cache/

# Node
node_modules/

# React Build
dist/
build/

# Logs
*.log

# Database
*.db

# macOS
.DS_Store

# Windows
Thumbs.db